:root {
    --red: hsl(4, 100%, 67%);
    --l-red: hsl(5, 100%, 95%);
    --pink: hsl(346, 100%, 66%);
    --d-blue: hsl(234, 29%, 20%);
    --d-grey: hsl(235, 18%, 26%);
    --l-grey: hsl(231, 7%, 60%);
    --ll-grey: hsl(0, 0%, 77%);
    --white: hsl(0, 0%, 100%);
}